/* Основные элементы сайта и общие свойства */

header, section, footer {
	background: rgb(205,224,172);
	font-family: Calibri;
	font-size:10pt;
	color:#543123;
}

 .nav a {
	border-right: rgb(130,130,105) solid 1px;
	text-transform:uppercase;
	font-size:1.1em;
	font-weight:500;
	color:#543123;
	text-decoration:none;
	transition: 0.5s ease;
}

.nav a:last-child {
	border:none;
}

.nav a:hover {
	background:rgb(130,130,105);
	opacity:0.9;
	color:white;
	font-weight:bold;
}

.nav a:active {
	color:blue;
	background:rgb(100,100,100);
	text-shadow:1px 1px 5px white;
}

sup {
	font-size:0.5em;
}

h3 {
	text-transform:uppercase;
	font-weight:bolder;
}
h1, h2, h3 {
	user-select: none;
}

input[type="submit"] {
	background:transparent;
	border:none;
	color: rgb(130,130,105);
}

input[type="submit"]:hover {
	border: rgb(130,130,105) solid 1px;
	background:rgb(130,130,105);
	color:white;
	font-weight:bold;
	opacity:0.6;
}

/* ------------HEADER------------- */

header .grid-container {
	border:rgb(130,130,105) solid 1px;
}

.grid-item-logo {
	border-right:inherit;
}

.grid-item-menu { 
	border-top:inherit;
	background:white;
}

h2 {
	font-size:1.8em;
	color:#000000;
	text-shadow:1px 1px 2px white;
	font-weight:800;
}

.grid-item-search {
	font-size:0.9em; 
}

.grid-item-search input[type="text"] {
	font-family: Calibri;
	color:#543123;
	border:1px rgb(205,224,172);
}

/* ------------END HEADER------------- */
	
/* ------------SECTION 1------------- */

section.main .grid-item-content, .grid-item-form {
	border:1px #543123 solid;
}

.grid-item-content {
	background:rgb(124,106,85);
}

.grid-item-content img:hover {
	opacity:0.7;
}

.grid-item-content h1 {
	color:white;
	font-size:4em;
}

.grid-item-aside h3 {
	background:rgb(76,93,61);
	color:white;
	font-size:1.4em;
}

.grid-item-aside {
	background: red;
}

.grid-item-aside img:hover {
	opacity:0.7;
}

.grid-item-form img{
	border-right: inherit;
}

.grid-item-form h3{
	font-size:1.2em;
	background:rgb(220,229,242);
}

.grid-item-form div{
	background:white;
	border-top:inherit;
}

.grid-item-form a{
	text-transform:lowercase;
}

section.forms h3 {
	border-bottom:1px #543123 solid;
	background: rgb(247,242,187);
}

.grid-item-sign-in, .grid-item-news, .grid-item-contacts  {
	background:white;
}

.grid-item-sign-in div:nth-child(2) {
	border-right:1px #543123 solid;
}

.grid-item-sign-in div:nth-child(4) {
	border-top:1px #543123 solid;
}

.grid-item-news menu {
	list-style-type:circle;
	list-style-position:outset;
	line-height:20px;
}

.grid-item-sign-in input[type="text"],input[type="password"], select{
	font-family: Calibri;
	color:#543123;
}





/* ------------FOOTER------------- */
footer {
	white-space:pre;
	line-height:20px;
}

/* ------------END FOOTER------------- */






